# App 
NODE_ENV=development
APP_PORT=3000
APP_NAME=backend-service
CORS_ORIGIN=*

# Database
DATABASE_URL=mongodb+srv://

# prefix & version
API_PREFIX=api
API_VERSION=1

# JWT
JWT_ACCESS_SECRET=change_this_access_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

# Throttler (rate limit)
THROTTLE_TTL=60
THROTTLE_LIMIT=100

#Logging
LOG_LEVEL=debug

#API DOCS
SWAGGER_ENABLED=true

#Mailjet
MAILJET_API_KEY=your-api-key
MAILJET_SECRET_KEY=your-secret-key
MAILJET_FROM_EMAIL=no-reply@yourapp.com
MAILJET_FROM_NAME=YourApp
FRONTEND_URL=http://localhost:5173

